:root{
    --brand: #52606B;
    --ccor1: #0080A8;

}

body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}

.container{
    height: 100vh;
    margin-left: 86px;
}

.bg{
    background-color: var(--brand);
    width: 471px;
    height: 768px;
    border: none;
}


.hero-section{
    display: flex;
    align-items: center;
   
}

.titulo{
    font-size: 32px;
    font-family: 'Open Sans', sans-serif;

}
.btn{
    width: 450px;
    height: 50px;
    border-radius: 25px;
    background-color: var(--brand);
    color: white;
    text-align: center;
    
}

.bg-model{
    width: 50%;
    background-size: cover;
}

.formulario{
    width: 50%;
}

